:host {
  mat-list-item {
    padding: 5px 0px;
    height: auto;

    .todo-list-item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__text { white-space: normal; }
    }
  }
}